AddHandler fcgid-script .fcgi
#DirectoryIndex index.fcgi

# Prevent Apache from serving .htaccess files:
#<FilesMatch "^\.htaccess">
#    Order allow,deny
#    Deny from all
#</FilesMatch>

<Files index.fcgi>
    SetHandler fcgid-script
    Options +FollowSymLinks +ExecCGI
</Files>

#AcceptPathInfo On

#Options +FollowSymLinks
RewriteEngine On
#RewriteBase /main/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.fcgi/$1 [QSA,L]

