<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear"> <span class="block m-t-xs"> <strong id="user-name-banner" class="font-bold">User Name</strong>
                         </span> <span class="text-muted text-xs block">Admin <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="#">Logout</a></li>
                        </ul>
                </div>
                <div class="logo-element">
                </div>
            </li>
            <li id="frontend_nav">
                <a href="/main/"><i class="fa fa-home"></i> <span class="nav-label">Home</span></a>
            </li>
            <li id="whiskey_nav">
                <a href="#"><i class="fa fa-certificate"></i><span class="nav-label">Whiskey</span><span class="fa arrow"></span></a>
                <ul id="whiskey_tree" class="nav nav-second-level collapse">
                    <li id="whiskies_nav"><a href="/main/whiskey/whiskies/">Whiskies</a></li>
                    <li id="college_rating_nav"><a href="/main/whiskey/college_rating/">College Ratings</a></li>
                    <li id="user_rating_nav"><a href="/main/whiskey/user_rating/">User Ratings</a></li>
                </ul>
            </li>
            <li id="users_nav">
                <a href="/main/users/"><i class="fa fa-users"></i> <span class="nav-label">Users</span> </a>
            </li>
        </ul>

    </div>
</nav>