<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Whiskey By The Numbers | Minor view</title>

    {% include 'common/includes/head/base.html' %}

</head>

<body>

<div id="wrapper">

    {% include 'common/nav.html' %}

    <div id="page-wrapper" class="gray-bg">
        
        {% include 'common/header.html' %}
        
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center m-t-lg">
                        <h1>
                            Simple example of second view
                        </h1>
                        <small>Writen in minor.html file.</small>
                    </div>
                </div>
            </div>
        </div>
        
        {% include 'common/footer.html' %}
        
    </div>
</div>

<!-- Set active menu item on nav -->
<script>document.getElementById("minor_nav").className = "active";</script>

<!-- Mainly scripts -->
{% include 'common/includes/body/base.html' %}
{% include 'common/includes/body/nav.html' %}


</body>

</html>
