<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Whiskey By The Numbers | Ratings view</title>

    {% include 'common/includes/head/base.html' %}
    {% include 'common/includes/head/grid.html' %}
    {% include 'common/includes/head/select.html' %}
    {% include 'common/includes/head/slider.html' %}

</head>

<body>

<div id="wrapper">

    {% include 'common/nav.html' %}

    <div id="page-wrapper" class="gray-bg">
        
        {% include 'common/header.html' %}
        
        <div class="wrapper wrapper-content  animated fadeInRight">
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>Choose a Whiskey to rate</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-4">
                                    <p>
                                        Selection box
                                    </p>
                                    <select class="whiskey_select form-control"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>Rate a Whiskey</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div id="basic_slider" style="height:100px;"></div>
                                    <p class="font-bold">Basic example</p>
                                </div>
                                <div class="col-sm-2">
                                    <div id="basic_slider2" style="height:100px;"></div>
                                    <p class="font-bold">Basic example2</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>Ratings</h5>
                        </div>
                        <div class="ibox-content">
                            <h4>Table of Ratings</h4>
                            <p>

                            </p>

                            <div class="jqGrid_wrapper">
                                <table id="table_list"></table>
                                <div id="pager_list"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% include 'common/footer.html' %}
        
    </div>
</div>

<!-- Set active menu item on nav -->
<script>document.getElementById("whiskies_nav").className = "active";</script>
<script>document.getElementById("whiskey_tree").className = "nav nav-second-level";</script>

<!-- Mainly scripts -->
{% include 'common/includes/body/base.html' %}
{% include 'common/includes/body/nav.html' %}
{% include 'common/includes/body/grid.html' %}
{% include 'common/includes/body/ratings.html' %}
{% include 'common/includes/body/select.html' %}
{% include 'common/includes/body/slider.html' %}

</body>

</html>
