<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Whiskey By The Numbers | Register</title>

    {% include 'common/includes/head/base.html' %}

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">WBTN</h1>

            </div>
            <h3>Welcome to WBTN</h3>
            <p>Please register. We are still building the site - only admins will be allowed</p>
            
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                      {% for message in messages %}
                      <div class="alert alert-danger">
                        {{ message }}
                      </div>
                      {% endfor %}
                {% endif %}
            {% endwith %}
            
            <div id="fb-root"></div>
            
            <div id="social_reminder">
                <p>Please login using Facebook.</p>
            </div>
            
            <!--
                Below we include the Login Button social plugin. This button uses
                the JavaScript SDK to present a graphical Login button that triggers
                the FB.login() function when clicked.
                <p><fb:login-button scope="public_profile,email" size="large" onlogin="checkLoginState();">
                </fb:login-button></p>
              -->
            <div id="fb_login_button" style="visibility:hidden">
                <div class="fb-login-button" scope="public_profile,email" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="true"></div>
            </div>
            
            <div id="login_reminder">
                <p>Please enter your email address.</p>
            </div>
            
            <form id="register" class="m-t" role="form" action="register.html">
                <div class="form-group">
                    <input id="email_text" name="email" type="email" class="form-control" placeholder="Email Address" required="">
                </div>
              
                <div id="wbtn_reg_button" style="visibility:hidden">
                    <p><button type="button" id="reg_button" class="btn btn-primary block full-width m-b">Register!</button>
                    </p>
                </div>
            </form>
              
              <div id="status">
              </div>
              
            <p class="m-t"> <small>WBTN site based on Bootstrap 3 &copy; 2016</small> </p>
        </div>
    </div>
    
    <!-- scripts -->
    {% include 'common/includes/body/base.html' %}
    {% include 'common/includes/body/register.html' %}
    

</body>

</html>
